* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: url(../Fontes/RocaOne-Th.ttf), sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('../fotos/1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

header img {
    width: 100px;
}


main {
    display: flex;
    align-items: center; 
    gap: -250px; 
}


.title-box {
    margin-right: 100px; 
}

h1 {
    font-size: 7vw; 
    color: #fff !important; 
    font-family: 'Genty Regular', cursive;
    font-style: italic;
    margin-bottom: 0.5em; 
}

h3 {
    font-size: 2vw; 
    color: #fff !important; 
}

.links-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 23px;
    width: 100%;
    max-width: 320px; 
    font-size: 1.9em; 
    position: relative;
    left: -180px; 
    text-align: center; 
    height: 550px;
}

.links-box ul {
    list-style: none;
    padding: 0; 
}

.links-box ul li {
    margin: 32px 0; 
}

.links-box ul li a {
    text-decoration: underline; 
    color: #000; 
}

.links-box ul li a:hover {
    color: #4CAF50; 
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}